@import 'tailwindcss';

@theme {
  --color-primary: #788c5d;
  --color-primary-light: #a9b99a;
  --color-primary-dark: #566843;
  --color-primary-darker: #38452d;
  --color-primary-contrast: #f5f4ed;
  --color-primary-light-contrast: #141413;
  --color-primary-dark-contrast: #f5f4ed;
  --color-secondary: #d97757;
  --color-secondary-light: #e5a088;
  --color-secondary-dark: #aa5237;
  --color-secondary-contrast: #141413;
  --color-background: #f5f4ed;
  --color-text: #141413;

  --breakpoint-*: initial;
  --breakpoint-xs: 414px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1600px;
}
